.item-container {
    border: 1px solid #5762d5;
    background-color: #303141;
    box-shadow: rgba(0, 0, 0, 0.50) 0px 5px 20px;
}

.title-page {
    color: white
}

.item-container-header {
    display: flex;
    flex-grow: 1;
    padding: 3rem 0rem;
    width: 84%;
    margin: auto;
    align-items: center;
}

.item-container-header .text {
    flex: 3;
    color: white
}

.item-container-header .filter {
    flex: 0.6
}


@media (max-width: 1238px) {
    .title-page {
        margin-top: 1rem;
    }
}