.selectors {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
    margin: 1rem 0;
    /* background-color: red; */
}

.search-group {
    display: flex;
    flex-grow: 1;
}

.search-bar {
    flex: 2;
}

.filter {
    flex: 0.6;
}


/* Change flex direction to column on mobile devices */
@media (max-width: 768px) {
    .selectors {
        flex-direction: column;
    }
}