.item-list {
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* Cambia 200px al tamaño mínimo que deseas para tus tarjetas */
    gap: 20px;
    padding: 0px 0px 50px;
    justify-items: center;
    align-items: center;
    margin: auto;
}